@charset "UTF-8";

html {
	overflow-y: scroll;
	/* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
	/*Internet Explorerが独自に追加したプロパティ*/
	/*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dl,
dt,
dd {
	margin: 0px;
	padding: 0px;
}

body {
	background: #F5E1DA;
	text-align: center;
	font-size: 16px;
	line-height: 1.4;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
	font-family:"游教科書体 横用","YuKyokasho Yoko";
}

li {
	list-style: none;
}


a {
	outline: none;
	color: inherit;
	text-decoration: none;
}

img {
	border: 0px;
	vertical-align: bottom;
}

/* body {
	font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", "Meiryo", "HGPｺﾞｼｯｸM", "Osaka", "ＭＳ Ｐゴシック", sans-serif, Century Gothic, Arial;
} */


/*ドロワー用でコメントアウト or 削除*/

/*header {
	position: fixed;
	width: 100%;
}
header .hum_menu {
	position: absolute;
	right: 0px;
	top: 0px;
}
header .hum_menu a {
	display: block;
	height: 20px;
	padding: 10px 0;
	width: 40px;
	background: #eeeaec;
	text-align: center;
}
header .hum_menu span {
	display: block;
	width: 20px;
	height: 2px;
	background: #aaa;
	margin: 3px auto;
}
header ul {
	display: none;
	margin: 0 40px 0 0;
}
header ul li {
	width: 50%;
	color: #acacac;
	line-height: 40px;
	text-align: left;
	font-size: 12px;
	text-indent: 8px;
}
header ul li a {
	display: block;
	border: 1px solid #555;
	border-width: 1px 1px 0 0;
}
header.open {
	background: #eeeaec;
}
header.open ul {
	display: flex;
	flex-wrap: wrap;
}*/

article {
	background-color: #F5E1DA;
	padding-bottom: 100px;
}

footer {
	height: 80px;
	width:100%;
	background: #f3f38c;
	/* margin-top: 215px; */
	position:fixed;
	position: absolute;/*←絶対位置*/
    bottom: 0;
}

footer ul li {
	padding: 15px 30px 10px 30px;
	font-size: 50px;
}

header {
	padding: 40px;
	background: #f3f38c;
}

.kawa {
	background: #f3f38c;
}

section {
	padding: 50px 15px;
	text-align: left;
}

section h1 {
	font-size: 20px;
	line-height: 35px;
	margin: 0 0 40px 0;
	font-weight: 200;
}

#sec1 {
	background: url(../img/logo.png) no-repeat center center;
	background-size: cover;
	padding: 185px;
	margin-bottom: 20px;
}

#sec1 h1 {
	font-size: 30px;
	color: #fff;
}

table {
	margin: 0px auto;
}


.btn {
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #668ad8;
	/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #627295;
	border-radius: 20px;
	width: 50%;
	margin: 20px 40px 0px 40px;
}

.btn-square:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	/*下に動く*/
	border-bottom: none;
	/*線を消す*/
}


#submitbtn {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	margin-left: 50px;
}

form {
	margin-top: 60px;
}

.chat_username{
	font-size: 20px;
}


/* .search_form {
	 padding: 30px 50px; 
} */

.search_form dl dt {
	width: 165px;
	padding:10px 0;
	float: left;
	clear:both;
	font-size: 23px;
}

.search_form dl dd{
	padding:10px 0;
}

.airiroom{
	border:4px solid #9F7856 ;
    /* border-image:linear-gradient(to right, #d00, #00d); */
    border-image-slice:1;
}

.airiroom form{
	margin-top: 30px;
	margin-bottom:15px;
}

.airiroom form input{
	color: #fff;
	background-color:#690074;
	background-image:linear-gradient(to right, rgb(241, 11, 241), #00d);
}

.airiroom p{
	font-size:20px;
}

.chatbox{
	margin-top:10px;
}


/* #sec2 .flex_area div {
	text-align: left;
}

#sec2 .flex_area div h2 {
	font-size: 14px;
	margin: 30px 0 10px 0;
}

#sec2 .flex_area div p {
	font-size: 12px;
	line-height: 1.8;
	margin-bottom: 14px;
}

#sec3 {
	background: url(../img/photo_02.png) no-repeat center center;
	background-size: cover;
	color: #fff;
}

#sec3 p {
	font-size: 13px;
	line-height: 2;
	margin-bottom: 16px;
}

#sec3 p br {
	display: none;
}

#sec4 .port .flex_reverse {
	display: flex;
	flex-direction: column-reverse;
	/*flexは様々な方向に並び替えが可能です*/
/* }

#sec4 p {
	font-size: 12px;
	line-height: 1.8;
	margin-bottom: 55px;
}

#sec4 p br {
	display: none;
}

#sec4 .port .portfolio img {
	width: 100%;
}

#sec4 .port .port_title {
	font-size: 14px;
	margin: 10px 0;
}

*/