{% extends 'base.html' %}

{% block content %}

<article>
	<section id="sec1">
		<!-- <h1>月木でわかる <br> HTML5 &amp; CSS3</h1> -->
	</section>
	<p>Relation make you happy</p>

	<div>

		<form action="/login" method="post" name="form1">
			<table>
				<tr>
					<th>名前</th>
					<td><input name="name" type="text"></td>
				</tr>
				<tr>
					<th>PASS</th>
					<td><input name="password" type="pass"></td>
				</tr>
			</table>

			<input type="submit" name="save" value="ログイン">
		</form>

	</div>


	<div id="submitbtn">
		<a href="/register" class="btn">NEW</a>
	</div>







</article>

<script>
	function submit() {
		form1.submit();

	}
</script>

{% endblock %}