<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
        <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../css/login.css">
        <title>CatchUp</title>
    </head>

    <body>
        <div class="logo">
            <img src="../img/logo.png" alt="">
        </div>

        <div class="login">
            <input type="text" placeholder="ID" />
            <input type="password" placeholder="Password" />
            <button>ログイン</button>
            <button>新規登録</button>
            </a>
        </div>
    </body>

</html>