{% extends 'base.html' %}
{% block content %}

<header>
    <h1>検索</h1>
</header>


<table>
    <tr>
        <th>趣味</th>
        <td><input name="hobby" type="text"></td>
    </tr>
    <tr>
        <th>住まい</th>
        <td><input name="address" type="text"></td>
    </tr>
    <tr>
        <th>年齢</th>
        <td><input name="age" type="text"></td>
    </tr>
</table>

<div>
    <a href="/result">検索</a>
    <form action="/search" method="POST">
        趣味<input type="text" name="hobby">
        住まい<input type="text" name="address">
        年齢<input type="text" name="age">
        <input type="submit" value="検索">
    </form>
</div>

<footer>
    <ul>
        <a href="/search">
            <li class="fas fa-search"></li>
        </a>
        <a href="/chatroom">
            <li class="far fa-comment-dots"></li>
        </a>
        <a href="/mypage">
            <li class="far fa-user-circle"></li>
        </a>
    </ul>
</footer>



{% endblock %}