{% extends 'base.html' %}
{% block content %}

<header>
    <h1>S E A R C H </h1>
</header>

<div>
    <!-- <a href="/result">検索</a> -->
    <form action="/result" method="POST" class="search_form">
        <dl>
            <dt>HOBBY</dt>
            <dd><input type="text" name="hobby" style="height:30px;"></dd>
            
            <dt>LOCATION</dt>
            <dd><input type="text" name="address" style="height:30px;"></dd>
            
            <dt>AGE</dt>
            <dd><input type="text" name="age" style="height:30px;"></dd>
        </dl>

        <input type="submit" class="btn" value="search">
    </form>
</div>

<footer>
    <ul class="footer_ul">
        <a href="/search">
            <li class="fas fa-search"></li>
        </a>
        <a href="/chatroom">
            <li class="far fa-comment-dots"></li>
        </a>
        <a href="/mypage">
            <li class="far fa-user-circle"></li>
        </a>
    </ul>
</footer>



{% endblock %}