<!DOCTYPE html>
<html lang="ja">
  <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../css/search.css">

  <head>
    <meta charset="UTF-8">
  </head>

  <body>
    <form action="/result" method="POST">
      <p>趣味：<input type="text" name="member_syumi"></p>
      <p>所在地：<input type="text" name="member_location"></p>
      <p>年齢：<input type="text"  name="member_age"></p>

      <input type="submit" name="save" value="検索">
    </form>

    <a href="./result.html" class="reset flat fade">検索</a>
  </body>

</html>